/*VARIABLES GLOBALES */
:root {
    --primary-color: #D71F27; /* Rojo SAMA */
    --surface-ground: #0a0a0a; /* Negro profundo */
    --surface-card: #121212;   /* Gris oscuro */
    --text-color: #ffffff;
    --font-family: 'Inter', sans-serif;
    --font-display: 'Racing Sans One', cursive;
}

/*RESET BÁSICO */
body {
    background-color: var(--surface-ground);
    color: var(--text-color);
    font-family: var(--font-family);
    margin: 0;
    overflow-x: hidden;
}

/*UTILIDADES PERSONALIZADAS */

/* Títulos estilo Racing */
.font-display {
    font-family: var(--font-display);
    font-style: italic;
}

/* Efecto Inclinado (Skew) */
.skew-box {
    transform: skew(-15deg);
    display: inline-block;
    transition: all 0.3s ease;
}

.unskew-content {
    transform: skew(15deg);
    display: inline-block;
}

/* Glassmorphism (Efecto Vidrio) */
.glass-effect {
    background: rgba(20, 20, 20, 0.7);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

/* Ajustes a Componentes PrimeNG */
.p-button {
    font-weight: bold !important;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* Inputs oscuros */
.p-inputtext {
    background-color: rgba(255, 255, 255, 0.05) !important;
    border: 1px solid #333 !important;
    color: white !important;
}

.p-inputtext:focus {
    border-color: var(--primary-color) !important;
    box-shadow: 0 0 0 2px rgba(215, 31, 39, 0.2) !important;
}

/* Arreglar botón de cerrar del Sidebar en tema oscuro */
.p-sidebar-close-icon {
    color: white !important;
}

.p-sidebar-close:hover {
    background: rgba(255, 255, 255, 0.1) !important;
}

/* src/styles.css */

/* Pinta la X de blanco */
.p-drawer-close-icon {
    color: white !important;
    font-size: 1.5rem; /* Un poco más grande para el dedo */
}

/* =========================================
   PERSONALIZACIÓN DEL SCROLLBAR (BARRA DE SCROLL)
   ========================================= */

/* 1. Ancho de la barra */
::-webkit-scrollbar {
    width: 10px; /* Ni muy grueso ni muy delgado */
}

/* 2. El "riel" o fondo de la barra (Lo ponemos negro) */
::-webkit-scrollbar-track {
    background: #0a0a0a;
}

/* 3. La "barra" que se mueve (Gris oscuro elegante) */
::-webkit-scrollbar-thumb {
    background: #333333;
    border-radius: 5px; /* Bordes redondeados */
    border: 2px solid #0a0a0a; /* Pequeño margen para que se vea flotante */
}

/* 4. Efecto al pasar el mouse por la barra (Se pone ROJA) */
/* Esto le da un toque de marca increíble */
::-webkit-scrollbar-thumb:hover {
    background: #d71f27;
}

/* 5. Compatibilidad con Firefox */
html {
    scrollbar-width: thin;
    scrollbar-color: #333333 #0a0a0a; /* Barra - Fondo */
    scroll-behavior: smooth;
}

